.film_h
{
background-color: blueviolet ;
}
.film_s
{
background-color: gold;
}
.film_A
{
background-color: crimson;
}
.film_B
{
background-color: green;
}
.film_C
{
background-color: lightcoral;
}
.film_D
{
background-color: seagreen;
}


.kartinka
{
    size: 30px;
   
   
}